body,
html {
  margin: 0;
}

body {
  font-family: sans-serif;
}

.demo-container {
  width: 100%;
  max-width: 460px;
  margin: 0 auto;
}

.row {
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}

.row > * + * {
  margin-left: 10px;
}

.demo-page {
  background: #efefef;
  max-height: 300px; /* demonstrate scrolling */
  overflow: auto;
  font-size: 18px;
}

.demo-page .top {
  padding: 15px;
}

.demo-page img {
  width: 100%;
}
