*:focus {
  outline: none;
}

.bar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 6px;
}

.bar .ui.button {
  margin: 0;
  background-color: #e0e1e2;
}

.bar .ui.button + .button {
  margin-left: 6px;
}

.bar .toggle {
  margin-right: 30px;
}

[dir="rtl"] .bar .toggle {
  margin-left: 20px;
}

[dir="rtl"] .bar .ui.button + .button {
  margin-right: 6px;
  margin-left: 0;
}

[dir="rtl"] .ui.menu .item > i.dropdown.icon {
  float: left;
  margin: 0 1em 0 0;
}

.nav-bar {
  position: fixed;
  height: 48px;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 1;
}

.page-controls {
  top: 48px;
  justify-content: space-between;
}

.page-controls .button {
  width: 9em;
}

.nav-bar .menu {
  z-index: 2;
  box-shadow: none;
}

.nav-bar .spacer {
  flex-grow: 1;
}

.content {
  width: 100%;
  padding-top: calc(2 * 48px);
}
.demo-page img {
  width: 100%;
}
