*:focus {
  outline: none;
}

body {
  font-family: sans-serif;
}

.content {
  width: 100%;
}

.demo-page img {
  width: 100%;
}

.demo-page {
  background: #efefef;
  overflow: auto;
  font-size: 18px;
}

